/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

body {
  background-size: cover;
  background-position: center;
  background-color: black;
  background-image: url(https://www.hdwallpapers.in/download/northern_lights_aurora_borealis_4k_hd_nature-HD.jpg);
}